body{
    color:white;
    font-family:'Courier New', Courier, monospace;

}

::-webkit-scrollbar{
background: transparent;
}

::-webkit-scrollbar-thumb:horizontal{
background-color: black;
border-radius: 10px;
}